.logo,
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	color: #2196f3;
}
.logo {
	margin-right: 93px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.logo-element {
	color: #212121;
}
.footer-logo {
	display: block;
	margin-bottom: 20px;
}
.logo-element-footer {
	color: #ffffff;
}